<div id='heading'>
  <div id='logo'> 
      <a href='/'>
        <img src="/images/piraten_xhain_m_stern.png" alt="PRTXHN -- Piratenpartei Xhain"/>          
      </a> 
  </div>
</div>
<div>
<section id="home-hero">
<div id="photoattribution">CC-BY-SA IngolfBln</div>
</section>
</div>

<div id="navi">
  <ul>
    <li> <div><a href="/Fraktionszeitung2016.pdf">past</a></div> </li>
    <li> <div><a href="">present</a></div> </li>
    <li> <div><a href="/programm-prtxhn.pdf">future</a></div></li>
  </ul>
</div>
