<h3>Kontakt </h3> 

<ul> 
<li> <a target="_blank" href="mailto:kontakt@prtxhn.de"> kontakt@prtxhn.de</a> </li>
<li> <a target="_blank" href="https://twitter.com/prt_xhn"> @prt_xhn</a> </li>
<li> <a target="_blank" href="https://www.facebook.com/PRTXHN/"> www.facebook.com/PRTXHN/</a> </li>
</ul>


<h3>Positionen</h3>

<ul> 
<li> <a href="/programm-prtxhn.pdf"> Wahlprogramm (A4)</a> </li>
<li> <a href="/programm-prtxhn-poster.pdf"> Wahlprogramm (Poster)</a> </li>
<li> <a href="/wahlprogramm-prtxhn.md"> Wahlprogramm (md)</a> </li>
</ul>

<h3>Inhalte</h3>
<ol>

<li> <a href="/praeambel"> Präambel </a></li>
<li> <a href="/stadtentwicklung"> Stadtentwicklung </a></li>
<li> <a href="/wohnen"> Wohnen und Mieten </a></li>
<li> <a href="/schule"> Schule </a></li>
<li> <a href="/energie"> Energiewende </a></li>
<li> <a href="/verkehr"> Verkehr </a></li>
<li> <a href="/migration"> Migration </a></li>
<li> <a href="/geschlechter"> Geschlechter- und Familienpolitik </a></li>
<li> <a href="/kultur"> Kultur </a></li>
<li> <a href="/kiezleben">  Kiezleben </a></li>
<li> <a href="/sucht">  Sucht- und Drogenpolitik </a></li>
<li> <a href="/finanzen"> Finanzen</a> </li>
<li> <a href="/freifunk"> Freifunk </a></li>
<li> <a href="/soziales">  Soziales / Arbeit </a></li>
<li> <a href="/verwaltung"> Verwaltung</a> </li>
<li> <a href="/buergerbeteiligung">  Bürgerbeteiligung</a></li>
<li> <a href="/fraktionplus">  FraktionPlus</a> </li>

</ol>


<h3>Erreichtes</h3>

<ul> 
<li> <a href="/Fraktionszeitung2013.pdf"> Fraktionszeitung 2013</a> </li>
<li> <a href="/Fraktionszeitung2016.pdf"> Fraktionszeitung 2016</a> </li>
</ul>

<h3>Unterstütz uns!</h3>

<ul> 
<li> <a href="/spenden"> Spende Geld</a> </li>
</ul>
