<b>Wattn ditte?</b>

<ul>
<li> Piraten in die BVV! </li>
<li> <a href=""> Wahlprogramm (pdf, A4)</a> </li>
<li> <a href=""> Wahlprogramm (pdf, Posterg)</a> </li>
<li> <a href=""> Wahlprogramm (md)</a> </li>
</ul>

<ol>

<li> Präambel </li>
<li> Stadtentwicklung </li>
<li> Wohnen und Mieten </li>
<li> Schulen </li>
<li> Energiewende </li>
<li> Verkehr </li>
<li> Migration </li>
<li> Geschlechter- und Familienpolitik </li>
<li> Kultur </li>
<li> Kiezleben </li>
<li> Sucht- und Drogenpolitik </li>
<li> Finanzen </li>
<li> Freifunk </li>
<li> Soziales / Arbeit </li>
<li> Verwaltung </li>
<li> Echte Bürgerbeteiligung statt Pseudopartizipation und Demokratiesimulation </li>
<li> FraktionPlus </li>

</ol>