<h3>Kontakt </h3> 

<ul> 
<li> <a target="_blank" href="mailto:kontakt@prtxhn.de"> kontakt@prtxhn.de</a> </li>
<li> <a target="_blank" href="https://twitter.com/prt_xhn"> @prt_xhn</a> </li>
<li> <a target="_blank" href="https://www.facebook.com/PRTXHN/"> www.facebook.com/PRTXHN/</a> </li>
</ul>


<h3>Wattn ditte?</h3>

<ul>
<li> Piraten in die BVV! </li>
<li> <a href="/programm-prtxhn.pdf"> Wahlprogramm (A4)</a> </li>
<li> <a href="/programm-prtxhn-poster.pdf"> Wahlprogramm (Poster)</a> </li>
<li> <a href="/wahlprogramm-prtxhn.md"> Wahlprogramm (md)</a> </li>
</ul>

<h3>Inhalte</h3>
<ol>

<li>  <a href=""> Präambel </a></li>
<li>  <a href=""> Stadtentwicklung </a></li>
<li>  <a href=""> Wohnen und Mieten </a></li>
<li>  <a href=""> Schulen </a></li>
<li>  <a href=""> Energiewende </a></li>
<li>  <a href=""> Verkehr </a></li>
<li>  <a href=""> Migration </a></li>
<li>  <a href=""> Geschlechter- und Familienpolitik </a></li>
<li>  <a href=""> Kultur </a></li>
<li> <a href="">  Kiezleben </a></li>
<li> <a href="">  Sucht- und Drogenpolitik </a></li>
<li>  <a href=""> Finanzen</a> </li>
<li>  <a href=""> Freifunk </a></li>
<li> <a href="">  Soziales / Arbeit </a></li>
<li>  <a href=""> Verwaltung</a> </li>
<li> <a href="">  Bürgerbeteiligung</a></li>
<li> <a href="">  FraktionPlus</a> </li>

</ol>